@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: iransans;
  direction: rtl;
}
@font-face {
  font-family: iransans;
  src: url("../src/Assets/font/iransans.woff2");
}
